
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.top{
    width: 100%;
    background-color: #213b52;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
header nav{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logo{
    width: 35%;
    height: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: white;
}
nav .logo h1 span{
    color: #ffa500;
}

header nav ul{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
}
ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
nav ul .btn{
    width: 25%;
    height: 90%;
    border: 2px solid;
    border-color: #ffa500;
    border-radius: 50px;
    text-align: center;
}
.top .hero{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 5%;
    align-items: center;
    padding-bottom: 30px;
}
.hero .hero-left{
    width: 45%;
    color: white;
}
.hero-left h1{
    font-size: 45px;
    margin-bottom: 10px;
    color: #DDDDDD;
}
.hero-left p{
    font-size: 15px;
    margin-bottom: 15px;
}
.hero-left button{
    padding: 15px;
    border-radius: 50px;
    border: none;
    height: 40px;
    background-color: #ffa500;
}
.hero-left button a{
    text-decoration: none;
    color: #213b52;
    font-weight: 700;
}
.hero .hero-right{
    width: 45%;
}
.hero .hero-right img{
    width: 100%;
}

/* page 2 */
 .about-container{
    width: 100%;
    background-color: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
    padding: 40px 0;
}
 .about-us{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #1a2936;
}
 .about-us .about-us-left{
    width: 38%;
}

.about-us .about-us-left img{
    width: 100%;
    height: 100%;
}
.about-us .about-us-right{
    width: 57%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us-right .first{
    width: 100%;
    margin-bottom: 20px;
}

.about-us .about-us-right .first h2{
    font-size: 45px;
    padding-bottom: 10px;
}
.about-us .about-us-right .first p{
    font-size: 15px; 
}
.about-us .about-us-right .icon-txt{
    width: 45%;
    display: flex;
    margin-bottom: 15px;
}
.about-us .about-us-right .icon-txt img{
    width: 35px;
    margin-right: 10px;
}
.about-us .about-us-right .icon-txt .text p{
    font-size: 15.5px;
} */

/* page 3 */
.services-container{
    width: 100%;
    background-color: #eff8fb;
}
.services{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services .services-title{
    width: 90%;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 50px;
}
.services-title h2{
    color: #213b52;
    font-size: 35px;
    font-weight: 700;
}
.services-title p{
    font-size: 14px;
    text-align: start;

}
.services-title .lines{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.services-title .lines .line1{
    width: 12%;
    height: 10%;
    position: relative;
}
.services-title .lines .line2{
    width: 4%;
    position: absolute;
    border: 1px solid #ffa500;
}
.right-card-one{
    width: 45%;
    margin-bottom: 50px;
}
.right-card-one .card-image{
    width: 100%;
    z-index: 1;
}
.right-card-one .card-image img{
    width: 100%;
    z-index: 1;
}
.right-card-one .card-text{
    width: 90%;
    background-color: #f8f9fa;
    margin: auto;
    z-index: 10;
    margin-top: -40px;
    position: relative;
}
.right-card-one .card-text:hover{
   border-top: 5px solid;
   color: #ffa500;
}
.right-card-one .card-text h1{
    padding-top: 25px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
}
.right-card-one .card-text p{
    width: 90%;
    margin: auto;
    text-align: left;
    font-size: 15px;
    color: #5e5e5e;
    text-align: start;
}
.right-card-one .card-text i{
    width: 10%;
    margin: auto;
    color: #5e5e5e;
    padding-bottom: 10px;
}
.right-card-one .card-text .arr{
    width: 90%;
    margin: auto;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.right-card-one .card-text .arr i{
    margin-right: 9px;
}
.right-card-one .card-text .arr a{
    text-decoration: none;
    color:#5e5e5e;
    margin-bottom: 40px;
}

/* page 4 */
.price-container{
    width: 100%; 
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.pricing{
    width: 90%;
}
.pricing h1{
    text-align: center;
}
.pricing .lines{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.pricing h1{
    padding-top: 30px;
    color: #213b52;
}
.lines .line1{
    width: 8%;
    position: relative;
    border: 1px solid #DDDDDD;
}
.lines .line2{
    width: 3%;
    position: absolute;
    border: 1px solid #fdc134;
}
.price-container .price-bg{
    width: 87%;
} 
.price-container .price-bg img{
   width: 100%;
} 

/* Page 5 */
.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e9ecef;
    padding-bottom: 50px;
}
.contact-page{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
.contact-heading{
    width: 90%;
    margin-bottom: 50px;
}
.contact-heading h1{
    font-size: 32px;
    font-weight: 900;
    text-align: center;  
    color: #213b52;
    padding-top: 50px;
}
.contact-heading .lines{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-heading .lines .line1{
    width: 10%;
    position: relative;
    border: 1px solid #DDDDDD;
}
.contact-heading .lines .line2{
    width: 3%;
    position: absolute;
    border: 1px solid #fdc134;
}
.contact-page .address-container{
    width: 46%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.address-container .first-address{
    background-color: #ffffff; 
    padding: 25px 0;
    text-align: center;
    margin-bottom: 30px;
}
.address-container .first-address h2{
    font-size: 20px;
}
.address-container .first-address p{
    width: 95%;
    margin: auto;
    font-family: serif;
    font-size: 15px;
}
.contact-container .contact-page .addresses{
    width: 47%;
    background-color: #ffffff;
    padding: 30px 0;
    text-align: center;
}
.address-container .dotted-circle{
    padding-bottom: 10px;
}
.dotted-circle .circle{
    width: 45px;
    height: 45px;
    border: 1px;
    border-color: #fdc134;
    border-style: dotted;
    border-radius: 50px;
    position: relative;
    margin-left: 45%;
}
.email .dotted-circle{
    padding-bottom: 10px;
}
.call .dotted-circle{
    padding-bottom: 10px;
}
.circle i{
    position: absolute;
    color: #fdc134;
    top: 13px;
    left: 15px;
}
.email i{
    top: 9px;
    left: 10px;
}
.call i{
    left: 12px;
}
.contact-page .address-container h2{
    color: grey;
    font-size: 20px;
}
.contact-page .address-container h3 a{
    text-decoration: none;
    color: grey;
}
.contact-page .address-container p{
    color: grey;
    font-size: 14px
}
.contact-container .contact-pg-right{
    width: 46%;
    background-color: #ffffff;
    line-height: 3;
    padding-top: 25px;
   
}
.contact-container .contact-pg-right form{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-pg-right form input{
    width: 48%;
    height: 40px;
    border: 1px solid;
    border-color: #777777;
    opacity: .5;
    margin-bottom: 10px;
    padding-left: 4px;
}
.contact-pg-right form input:nth-child(3){
    width: 100%;
}
.contact-pg-right form textarea{
    width: 100%;
    padding-left: 4px;
    border: 1px solid #777777;
}

.contact-pg-right form textarea::placeholder{
    font-size: 12px;
}
.contact-pg-right .submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact-pg-right .submit button{
    width: 30%;
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: 900;
    background-color: #fdc134;
} 

/* Page 6 */
 footer{
    width: 100%;
    background-image: url(./imges/asset\ 9.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
footer .footer-bg{
    width: 100%; 
    text-align: center;
    padding-top: 100px;
}
footer .footer-bg .text em{
    font-size: 12px;
    font-style: italic;
}
.footer-bg .text{
    width: 100%;
    line-height: 3;
    color: #ffffff;
}
.text .footer-button{
    width: 100%;
    display: flex;
    justify-content: center; 
}
.text .footer-button input{
    width: 55%;
    height: 45px;
    border-radius: 50px;
    padding-left: 15px;
    position: relative;
    border: none; 
    font-size: 16px;  
}
.footer-button button{
    width: 20%;
    height: 45px;
    border-radius: 50px;
    background-color: #fdc134;
    position: absolute;
    margin-left: 35%;
    border: none;
    font-size: 20px;
}
.footer-button button a{
    color: #ffffff;
    text-decoration: none;
}
.footer-bg .copy-right{
    display: flex;
    color: white;
    margin-top: 10%;
    padding-left: 100px;
    padding-bottom: 30px;
}

/* Media querie for 1001px */
@media screen and (max-width: 1212px){
    header nav .logo{
        display: none;
    }
    header nav ul{
        display: none;
    }
}
@media screen and (max-width: 1101px){
    header nav .logo{
        display: none;
    }
    header nav ul{
        display: none;
    }
}



/* Media querie for 1000px */
@media screen and (max-width: 1000px){
  body{
    width: 100%;
 }
 header nav .logo{
    display: none;
}
header nav ul{
    display: none;
}
 .top .hero{
    padding-bottom: 200px;
}
.hero .hero-right{
    width: 90%;
}
.hero .hero-left{
    width: 80%;
}
.hero-left h1{
    font-size: 46px;
    color: #dfecf8;
    line-height: 60px;
}
.hero-left p{
    font-size: 15px;
}
.hero-left button{
    height: 45px;
}  
.hero-left button a{
    font-size: 18px;
    text-decoration: none;
    color: #1a2936;
}  
.hero .hero-right{
    width: 100%;
    top: 40%;
}
/* Pagev 2 */
.about-us{
    width: 90%;
    margin: auto;
    flex-direction: column;
}
.about-us .about-us-left{
    width: 100%;
}
.about-us .about-us-left img{
    height: 50%;
}
.about-us .about-us-right{
    width: 100%;
}
.about-us .about-us-right .first h2{
    font-size: 40px;
}
.about-us .about-us-right .first p{
    font-size: 19px;
}
.others .icon-txt{
    width: 100%;
}

.about-us .about-us-right .icon-txt{
    font-size: 21px;
} 

/* Page 3 */
.services{
    width: 90%;
    margin: auto;
}
.services .services-title{
    width: 100%;
    text-align: center;
}
.services-title .lines .line1{
    width: 20%;
}
.services-title .lines .line2{
    width: 5%;
}
.services p{
    font-size: 14px;
    text-align: center;
    /* padding: 20px; */
}
.right-card-one{
    width: 90%;
}
.left-card-one .card-text{
    height: 50vh;
    left: 35px;
}
.right-card-one .card-text h1{
    font-size: 22px;
}

.right-card-one .card-text{
    width: 85%;
} 

/* page 4 */
.pricing{
    width: 90%;
    margin: auto;
}
.pricing .lines .line1{
    width: 30%;
}
.lines .line2{
    width: 10%;
}
.price-container .price-bg{
    width: 90%;
} 
.price-container .price-bg img{
    padding-top: 50px;
}

/* Page 5 */
 .contact-page{
    width: 90%;
    margin: auto;
}
.contact-heading .lines .line1{
    width: 15%;
}
.contact-pg .lines .line2{
    width: 5%;
}
.contact-page .address-container{
    width: 47%;
}
.contact-container .contact-page .addresses{
    width: 47%;
}
.contact-page .address-container h3{
    font-size: 16px;
    line-height: 30px;
}
.contact-page .address-container p{
    font-size: 18px;
    line-height: 30px;
}
.contact-container .contact-pg-right form{
   flex-direction: column;
}
.contact-pg-right form input{
    width: 100%;
}
.contact-pg-right .submit button{
    width: 40%;
    border-radius: 50px;
}

/* Page 6 */
footer .footer-bg{
    width: 90%;
    margin: auto;
    align-items: center;
}
.footer-bg .copy-right p{
    text-align: start;
}
.footer-bg .copy-right{
    padding-left: 0px;
    padding-bottom: 40px;
}
}

/* media query for 991px */
@media screen and (max-width: 991px){
    .top .hero{
        flex-direction: column-reverse;
    }
    .right-card-one .card-text a{
        padding-bottom: 40px;
    }
    .contact-pg-right .submit button{
       margin-top: 20px;
    } 
    .contact-page .address-container{
        width: 100%;
    }
    .contact-page{
        flex-direction: column;
    }
    .contact-container .contact-pg-right{
        width: 100%;
    }
    .contact-container .contact-pg-right{
       margin-top:50px;
    }
    .contact-pg-right .submit{
       padding-bottom: 30px;
    }
    .footer-button button{
        width: 15%;
    }
}

/* media query for 767px */
@media screen and (max-width: 767px){
    .about-us .about-us-right{
        flex-direction: column
    }
    .about-us .about-us-right .icon-txt{
        width: 100%;
    }

    .contact-container .contact-page .addresses{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* media query for 634px */
@media screen and (max-width: 634px){
    .footer-button button{
        width: 20%;
    }
}

/* media query for 527px */
@media screen and (max-width: 527px){
    .text .footer-button input{
        width: 75%;
    }
    .footer-button button{
        width: 45%;
        margin-left: 50%;
    }
}
/* media query for 360px */
@media screen and (max-width: 360px){
    .top .hero{
        width: 90%;
        padding-bottom: 20px;
    }
    .hero-left h1{
        font-size: 25px;
        line-height: 30px;
    }
    .hero-left button{
       width: 70%;
    }

    /* page 2 */
    .about-us .about-us-right .first h2{
            font-size: 30px;
    }
    .about-us .about-us-right .first p{
        font-size: 15px;
    }

    /* page 3 */
    .right-card-one .card-text h1{
        font-size: 15px;
    }
    .right-card-one .card-text .arr a{
        margin-bottom: 5px;
    }

    /* page 5 */
    .contact-heading .lines .line1{
        width: 40%;
    }
    .contact-heading .lines .line2{
        width: 15%;
    }
    .contact-container .contact-pg-right form{
        flex-direction: column;
    }
    .contact-container .contact-pg-right form input{
        width: 100%;
    }
}

/* media query for 388px */
@media screen and (max-width: 388px){
    .footer-bg .text{
        line-height: 1.5;
    }
    .text .footer-button input{
        width: 100%;
    }
    .footer-button button{
        width: 40%;
    }
}
/* media query for 321px */
@media screen and (max-width: 321px){
    .hero-left h1{
        font-size: 35px;
    }
    .hero-left button{
        width: 100%;
    }
    .right-card-one .card-text h1{
       font-size: 12px;
    }
    .right-card-one .card-text p{
            font-size: 16px;
        }
    }